$yellow: #ffff00;
$brown: #e6382c;
$white: #fefefe;

@mixin margenes($top, $bottom) {
    margin-top:$top;
    margin-bottom:$bottom;
}

.jumbotron {
    background: $brown;
    color: $white;
    width:100%;
    height:140px;
}