@yellow: #ffff00;
@brown: #e6382c;
@white: #fefefe;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background: @brown;
    color: @white;
    width:100%;
    height:140px;
}